<p> Dear

  <%= girl_scout.present? ? (girl_scout.parent_first_name.to_s != '' ||  girl_scout.parent_last_name.to_s != '') ? girl_scout.parent_first_name + " " + girl_scout.parent_last_name : "Parent":'Parent' %>,</p>


<p>The <b><%= girls_activity.activity_name.to_s != '' ? (link_to girls_activity.activity_name, girls_activity.id.present? ? girl_scouts_activity_url(girls_activity.id) : "#") : "[Activity Name]" %></b> Permission Forms are now available. Please complete and submit by <b><%= girls_activity.activity_signed_permission_due_date.to_s !='' ? girls_activity.activity_signed_permission_due_date : "[Signed Permission Form Due Date]" %></b>.</p>

<p>Thank You,<br><b><%= (girls_activity.leader_first_name.to_s !='' || girls_activity.leader_last_name.to_s != '') ? girls_activity.leader_first_name + " " + girls_activity.leader_last_name : "[Troop Leader Name]" %></b></p>

