<p> Dear Parent ,</p>

<p style="text-indent: 60px;">The <b>[Activity Name]</b> Permission Forms are now available. Please complete and submit by <b>[Signed Permission Form Due Date]</b>.</p>

<p>Thank You,<br><b>[Troop Leader Name]</b></p>

