<div class="girl_scouts_troop_leaders_nav_links">
  <%= link_to "Activities",activities_girl_scouts_troop_leaders_path %> <strong> | </strong>
  <%= link_to "Permission Forms", "#" %> <strong> | </strong>
  <%= link_to "Roster", roster_girl_scouts_troop_leaders_path %>
</div>
<div>&nbsp;</div>
<strong>Welcome! </strong>Girl Scouts Troop Leader