
<p><%= @appointment.firstname.capitalize %> <%= @appointment.lastname.capitalize %> has just edited <%= @formname %>.  You may view it by <%= link_to 'clicking here', "#{Configuration.notifier_path}#{@iform.path}" %></p>

Regards,<br />
iFor.ms