<p>Hello <%= @user.email %>!</p>

<p>Your login username : <b><%= @user.username %></b></p>

<p>Using <strong><%= @user.username %></strong>, you can login <%= link_to "ifor.ms",root_url %></p>

Regards,<br />
iFor.ms