body { background-color: #fff; color: #333;
	margin-left: auto;
	margin-right: auto; }

 p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:visited { color: #000; }
a:hover {color: #000;}

.container_layout {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}
.container {
 

    background-color: #C9E0ED;
    border: 1px solid #777777;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px 1px #777777;
    margin: 50px auto 0;
    padding: 10px 40px;
    width: 22.5em;
}
.index {
	margin-left: -70px;
	margin-right: auto;
	padding: 0px 8px;
 width: 1080px;
 border: solid 1px #fff;
  margin-top: 5px;
  background-color: #fff;
}
.formslist_show{
	margin-left: auto;
	margin-right: auto;
 width: 900px;
 border: solid 1px #fff;
  margin-top: 20px;
  background-color: #fff;	
}
.form_container{
 width: 50%;
  margin: 0 auto;
  padding: 20px 40px;
  border: solid 1px #fff;
  margin-top: 30px;
  background-color: #fff;	
}
.header {
color: #225E9B;
text-align: right;
}

div.field, div.actions {
  margin-bottom: 18px;
}

#notice {
  color: green;
}

.field_with_errors {
  /*padding: 0px;
  background-color: ;
  display: table;*/
}

/*#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}*/

/*#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}*/

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*------------------------------------*/
        body { font-family:verdana, Arial, Helvetica, Sans-Serif; font-size:13px; margin:20px;}
        #main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#f6f6f6;}
        #header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
        fieldset { border:none; width:630px;}
        legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
		p{
		width: 300px;
		clear: left;
		margin: 0;
		padding: 5px 0 8px 0;
		padding-left: 165px; /*width of left column containing the label elements*/
		height: 2%;
		}
        label {font-size:14px; float: left;
		margin-left: -155px; /*width of left column*/
		width: 220px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/ }
        input[type=text], input[type=password] { width:220px; padding:6px; border:solid 1px #000;font-size:13px;color:#404040;}
        .prev, .next { background-color:#3399ff; padding:5px 10px; color:#fff; text-decoration:none;}
        .prev:hover, .next:hover { background-color:#3399ff; text-decoration:none;}
        .prev { float:left;}
        .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin-top:15px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}

/* --------------------------------------------------------------*/

.breadcrumbs { border:1px solid #ccc; background-color:#fff; line-height: 30px; overflow:auto; font-size:12px; 
	font-weight:bold; width:550px; box-shadow:2px 2px 1px #888;
}
.breadcrumbs_iform_show { margin-left: 0em; margin-top:10px;}
.breadcrumbs_app_show { margin-left: 6.9em; margin-top:35px;}
.breadcrumbs li a { padding:0 10px 2px 0; background:transparent url(blue-arrow.png) no-repeat right center;}
.breadcrumbs li a:link, #breadcrumbs li a:visited { text-decoration:none; color:#003366; }
.breadcrumbs li a:hover, #breadcrumbs li a:focus { text-decoration:underline; color:#0099CC; }
.breadcrumbs li {color:#FF9900;}

.breadcrumbs li { float:left; padding-left:8px; }
ul, li { list-style-type:none; padding:0; margin:0; }

.labelcss{
	font-size:14px
	border:none; width:500px;
}
 .mytable {
border-collapse: collapse;
	background-color: #f8f8f8;
border-spacing:4;
font-size:14px
} 
 th{
background-color: #addfff;
text-shadow: #ccc 3px 2px 2px;
box-shadow: 0px 1px 1px #ccc;
text-align: left;
padding: 0.5em;
}
td {
text-shadow: #ccc 2px 2px 2px;
padding: 0.7em;
font-size:14px;
margin-left:50px;
}

.logo
{
	background-image:url(/images/iforms_logo.png);
	background-repeat:no-repeat;
	height:25px;
	width: 190px;
	padding: 40px 0 0 50px;
	text-shadow: 3px 3px 3px #ccc;
    cursor: pointer;
    margin-bottom:1em;
    margin-left: 5em;
    margin-top: 1em;
}

.footer
{
	padding: 10px;
	margin: 70px 10px;
	margin-bottom: 0px;
	font-size: 0.9em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

.hidden {
    display: none;
}

.flash {
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.flash-alert {
    color: red;
}

.flash-notice {
    color: green;
}