<div class="index" xmlns="http://www.w3.org/1999/html">
  <h3>My Appointments</h3>

  <div style="margin-bottom: 10px;">
    Appointment Date : <%= text_field_tag :date, "", :class => "appointments_date_selector" %> &nbsp;
    <%= label_tag "checkboxs", :class => 'checkbox inline' do %>
      <%= check_box_tag :all_appointments, 1, (true if !params[:appointment_date].present?), :class => "show_all" %>&nbsp;Show
      All Appointments
    <% end %>
  </div>
  <% javascript 'pagination' %>
  <div id="appointmets">
    <%= render 'appointments_list' %>
  </div>
</div>
