<h2><u>Privacy Policy</u></h2>

<h4>
  iFor.ms is fully HIPAA compliant.Under no circumstances, except under court order, will we disclose your
  individually identifiable information to anyone other than your designated service providers.
</h4>