<h2>Editing Form</h2>
<% if @iform.formname.include?("Adult") %>
<% session[:formname]= @iform.formname %>
<%= render 'adultform' %>
<% session[:formname]=nil%>
<% end %>

<% if @iform.formname.include?("Child") %>
<% session[:formname]= @iform.formname %>
<%= render 'childform' %>
<% session[:formname]=nil%>
<% end %>



