<% @patientnew = Patient.where("user_id = ?",current_user.id).first %>
<% if !@patientnew %>
<div class="container">
<h3>Enter Profile Information</h3></br>
<%= render "patients/form" %></br></br>

<%= link_to'Back', patients_path %>
</div>
<% else %>
<p>Your Profile Information is already in our database.</p>
<p>If you care to edit <%= link_to 'Click here', edit_patient_path(@patientnew)%></br></br>
<%= link_to 'Back', patients_path %>
<%end%>