/*
 *= require jquery-ui
 *= require bootstrap
 *= require jquery.fancybox
 *= require override
 *= require_self
*/

.header {
  height: 70px;
  margin: 20px 0;
  border-bottom: 1px solid #6F6F6F;
}

.logo {
  margin-left: 20px;
  width: 225px;
  float: left;
}

.header_navigation {
  margin: 20px 20px 0 0;
  float: right;
}

.content {
  min-height: 400px;
}

.footer {
  border-top: 1px solid #6F6F6F;
  margin-top: 10px;
  min-height: 50px;
}

.footer_links {
  margin: 5px 0;
  padding: 10px;
  text-align: center;
}

.service_provide_select {
  float: left;
  margin: 15px 0 0 20px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


.border {
  border: 1px solid #A9A9A9;
}

.radius-border {
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.table-header-bg {

}

.table-header-bg tr:first-child {
  background-color: #D1D1D1;
}

.table-header-bg th {
text-align: center
}

body{
  color: #0B0000
}
