#privacy_text{
  clear: left;
  height: 2%;
  margin: 0;
  padding: 5px 0 8px 145px;
  width: auto;
}

.username_status, .email_status {
  display: none;
}

.username_status.available, .email_status.available {
  color: green;
}

.username_status.not_available, .email_status.not_available {
  color: #ff0000;
}