.edit_adult_iform,.edit_chaild_iform {

  .controls {
    margin-left: 315px;
  }

  .control-label {
    width: 300px;
  }

  .form_errors {
    margin: 10px 0;
  }

  .adult_iforms_footer_links,.chaild_iforms_footer_links{
    text-align: right;
    margin: 10px 10px 0 0;
  }

  select {
    width: 110px;
  }

}
