.edit_adult_iform,.edit_chaild_iform, .edit_karen_naples_new_patient_iform{

  .controls {
    margin-left: 315px;
  }

  .control-label {
    width: 300px;
  }

  .form_errors {
    margin: 10px 0;
  }

  .adult_iforms_footer_links,.chaild_iforms_footer_links, .karen_naples_new_patient_iforms_footer_links{
    text-align: right;
    margin: 10px 10px 0 0;
  }

  select {
    width: 110px;
  }

}

.smile_evaluation_table {

  tr {
    td:first-child {
      text-align: left;
    }
  }

    td {
      text-align: center;
    }
}
