.sidebar {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}