
.username_status, .email_status, .password_status, .password_confirmation_status {
  display: none;
}

.username_status.default, .email_status.default, .password_status.default {
  display: inline;
  color: #9A9A9A;
}

.username_status.ok, .email_status.ok, .password_status.ok, .password_confirmation_status.ok {
  color: green;
}

.username_status.error, .email_status.error, .password_status.error, .password_confirmation_status.error {
  color: red;
}
.not_valid{
  color: red;
}