
	<div id = "task">
			<% @doctor = Doctor.first%>
			<% a=[]%>
			<% @forms = @doctor.forms %>
			<% @forms.each do |i|%>
			<%a<< i.formname %>
			<%end %>

         </br>
		<div class = "field">
		<% for form in @forms %>
		    <% if form.formname.include?("Adult") %>
			<%= check_box_tag "form_ids[]", form.id %>
			<label>	<%= form.formname %></label>
			<%end%>
		<% end%>
		</div>

	</div>
	