<div class="girl_scouts_troop_leaders_nav_links">
  <%= link_to "Activities",activities_girl_scout_diamonds_path %> <strong> | </strong>
  <%= link_to "Permission Forms","#" %> <strong> | </strong>
  <%= link_to "Roster","#" %>
</div>