.edit_medical_patient_form{

  .controls {
    margin-left: 315px;
  }

  .control-label {
    width: 300px;
  }

  .form_errors {
    margin: 10px 0;
  }

  .medical_patient_form_footer_links{
    text-align: right;
    margin: 10px 10px 0 0;
  }

  select {
    width: 110px;
  }

}